* {
    margin: 0;
  padding: 0;
}


body{
    background-color: #eeeeee;
}

.header-div{
    display: flex;
   justify-content: space-between; 
   width: 100%;
   position: fixed;
   top: 0px;
   height: 80px;
   background: #eeeeee;
}

.main-content{
    padding-top: 90px;
}

.nav-feature{
     display: flex;
    justify-content: space-around; 
    /* background-color: aqua; */
    width: 50%;
}
.nav-feature a{
    margin-left: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: #000000;
}

.section1{
    
    text-align:center;
}
.section1 p{
    font-weight: bold;
    font-size: 1.5em;
}
.section1 input{
    height: 25px;
    width: 40%;
}
.section1 button{
    background-color:#f1c40f;
    height: 30px;
    width: 20%;

}
.section1 button a{
text-decoration: none;
font-weight: bolder;
font-size: 10px;
color: black;
}

.container{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    text-align: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.container1{
    display: flex;
    justify-content:space-around ;
    align-items: center;
}
.container1 i{
    width: 10%;
}
.container1 span{
    width: 90%;
}

.container1 span h1{
    text-align: center;
}
.iframe{
   text-align: center;
}

iframe{
    width: 80%;  
}

.trombone{
    display: flex;
    justify-content:space-around;
    width: 100%;
}

.trombone-div{
    border: 1px solid black;
    height: auto;
    width: 20%;
    text-align: center;
    line-height: 30px;
}
.trombone-div h3{
background-color:#dddddd;
text-align: center;
font-size: 10px;
}

.trombone-div button{
    background-color: yellow;
    width: 60px;
}
.trombone-div button a{
    text-decoration: none;
    color: black;
}
.trombone-div button:hover{
    background-color: orangered;
}

footer{
    background-color: #ccc7c7;
}

.footer{
    display: flex;
    height: 80px;
    justify-content: flex-end;
    margin: auto;
}
.footer p{
    padding-right: 20px;
}

footer h4{
text-align: center;
}

@media (max-width:500px) {
    .trombone{
     display: block;
    }

    .trombone-div{
        width: 80%;
        line-height: 50px;
        margin: auto;
        margin-bottom: 10px;
    }

    .container1 i{
        display: none;
    }

    .header-div h1{
        padding-left: 20px;
    }
}